.modal_saved_custom_position {
  /* position: absolute; */
  top: 33%;
  left: 36%;
  width: 379px;
}

.modal_saved_custom_position .hover_filter:hover {
  background: #f2f9ff;
}

.filter_title {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
