.custom_width {
  width: 116px;
  top: 36%;
  left: 62%;
}

.name_func {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.handle_func:hover {
  background: #f2f9ff;
}
